@import '../template/Vars';

.modalOverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  background: rgba(28, 28, 28, 0.40);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .closeButton{
    float: right;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.3s;
    outline: none;
    margin: 0;
    padding: 0;

    img{
      width: 24px;
      height: 24px;
    }
  }

  .modalButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .modalButton{
      @include small-body();
      cursor: pointer;
      outline: none;
      border: none;
      width: 180px;
      height: 56px;
      border-radius: 10px;

      &.danger{
        background: linear-gradient(180deg, #F85050 0%, #DE4747 100%);
        color: $color-white
      }
    }
  }
}

.modalContent{
  width: 440px;
  min-height: 300px;
  background-color: $color-white;
  @include heading();
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content{
    text-align: center;
  }

  h2 {
    @include heading();
    padding: 0;
    margin: 0;
    text-align: center;
  }

  p{
    @include body();
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

}

.alertCircle{
  width: 100%;
  text-align: center;
  margin: 30px auto 20px;
  img{
    width: 50px;
    height: 50px;
  }
}