@import 'Colors';

// Card styling
.card {
  background: $card-background;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 20px 14px 0px;
  overflow: scroll;
  box-shadow: 1px 0px 3px 0px rgba(89, 88, 88, 0.1);
}

